div.preprint {
  font-style: italic;
  padding-left: 2ex;
  margin-bottom: 0.5ex;
  margin-top: 0.2ex;
  font-size: small; 
  border-style: none none none solid;
}

div.float {
    float: right;
    width: 160px;
    height: 160px;
    position: relative;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    overflow:hidden;
}

.my-picture {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

